{% extends '../base/base.html' %}

{% block content %}

{# Password-Reset-E-mail for student #}
{% load db_tags %}
{% is_student user.type as student %}
{% if student %}
    <p>Hey, {{ user.first_name }}</p>
    <p>Passwort vergessen? Macht nichts, das passiert uns allen. Hol dir <a href="{{ frontend_url }}/{{ path }}/{{ token }}">dein neues Passwort</a> und weiter gehts mit Matchen.</p>
    <p>Bis bald! <br>
        Dein Matchd-Team</p>
{% endif %}

{# Password-Reset-E-Mail for Company #}
{% is_company user.type as company %}
{% if company %}
    <p>Guten Tag</p>
    <p>Sie haben Ihr Passwort vergessen? Erstellen Sie gleich jetzt <a href="{{ frontend_url }}/{{ path }}/{{ token }}">Ihr neues Passwort </a>und weiter gehts mit Matchen.</p>
    <p>Bis bald! <br>
        Ihr Matchd-Team</p>
{% endif %}

{% endblock %}
