{% extends '../base/base.html' %}

{% block content %}

{# Password-Reset-E-mail for student #}
{% load db_tags %}
{% is_student user.type as student %}
{% if student %}
    <h1>Hey, {{ user.first_name }}</h1>
    <p>Passwort vergessen? Macht nichts, das passiert uns allen.</p>
    <p class="mb-30">Hol dir <a href="{{ frontend_url }}/{{ path }}/{{ token }}">dein neues Passwort</a> und weiter gehts mit Matchen.</p>
    <p>Bis bald!<br>Dein Matchd-Team</p>
{% endif %}

{# Password-Reset-E-Mail for Company #}
{% is_company user.type as company %}
{% if company %}
    <h1>Guten Tag</h1>
    <p>Sie haben Ihr Passwort vergessen?</p>
    <p>Erstellen Sie gleich jetzt <a href="{{ frontend_url }}/{{ path }}/{{ token }}">Ihr neues Passwort </a>und weiter gehts mit Matchen.</p>
    <p>Bis bald!<br>Ihr Matchd-Team</p>
{% endif %}

{% endblock %}
