{% load i18n wagtailusers_tags wagtailadmin_tags %}
<table class="listing">
    <thead>
        <tr>
            <th class="level" width="25px">{% trans "Type" %}</th>
            <th class="name">
                {% if ordering == "name" %}
                    <a href="{% url 'wagtailusers_users:index' %}" class="icon icon-arrow-down-after teal">
                        {% trans "Name" %}
                    </a>
                {% else %}
                    <a href="{% url 'wagtailusers_users:index' %}?ordering=name" class="icon icon-arrow-down-after">
                        {% trans "Name" %}
                    </a>
                {% endif %}
            </th>
            <th class="username">
                {% if ordering == "username" %}
                    <a href="{% url 'wagtailusers_users:index' %}" class="icon icon-arrow-down-after teal">
                        {% trans "Username" %}
                    </a>
                {% else %}
                    <a href="{% url 'wagtailusers_users:index' %}?ordering=username" class="icon icon-arrow-down-after">
                        {% trans "Username" %}
                    </a>
                {% endif %}
            </th>
            <th class="level">{% trans "Profile" %}</th>
            <th class="last-login">{% trans "Last Login" %}</th>
            <th class="impersonate">{% trans "Impersonate" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td class="status" valign="top">
                    {% if user.type == 'university' %}
                        <i class="icon icon-fa-university" style="font-size: 30px; color: #007d7e"></i>
                    {% elif user.type == 'company' %}
                        <i class="icon icon-fa-building" style="font-size: 30px; color: #007d7e"></i>
                    {% elif user.type == 'student' %}
                        <i class="icon icon-fa-graduation-cap" style="font-size: 30px; color: #007d7e"></i>
                    {% elif user.type == 'internal' %}
                        <i class="icon icon-fa-lock" style="font-size: 30px; color: #007d7e"></i>
                    {% endif %}
                </td>
                <td class="title" valign="top">
                    <div class="title-wrapper">
                        <span class="avatar small"><img src="{% avatar_url user size=25 %}" alt="" /></span>
                        <a href="{% url 'wagtailusers_users:edit' user.pk %}">{{ user|user_display_name }}</a>
                    </div>
                </td>
                <td class="username" valign="top">{{ user.get_username }}</td>
                <td class="status" valign="top">
                    {% if user.get_profile_state == 'incomplete' %}
                        <i class="icon icon-fa-circle-o" style="font-size: 30px; color: #007d7e"></i>
                        {% trans 'Schritt' %} {{ user.get_profile_step }}
                    {% else %}
                        <i class="icon icon-fa-check-circle" style="font-size: 30px; color: #007d7e"></i>
                    {% endif %}
                </td>
                <td {% if user.last_login %} class="human-readable-date" title="{{ user.last_login|date:"d M Y H:i" }}"{% endif %}>{% if user.last_login %}{% blocktrans with time_period=user.last_login|timesince %}{{ time_period }} ago{% endblocktrans %}{% endif %}</td>
                <td class="impersonate">
                    <button onclick="window.location.href='{% url 'impersonate_url' user.pk %}'" class="button no">
                        <i class="icon icon-fa-user-secret" aria-hidden="true"></i>

                        {% trans "Impersonate user" %}
                    </button>
                </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
