[run]
omit =
    api/tests/*
    db/tests/*
    db/migrations/*
    api/data/xlsx_to_json.py
    api/middleware/*
    app/settings/*
    app/wsgi.py
    db/seed/*
    db/management/*
[report]
exclude_lines =
    pragma: no cover
    if settings.DEBUG: