SECRET_KEY=TLYLTUSg01UjnA4CHusLVRsHJXdi4KhSuNIMiFa2WzY
DJANGO_SETTINGS_MODULE=app.settings.dev
GRAPHIQL_ENABLED=true
APP_DOMAIN=api.matchd.localhost
APP_CSRF_COOKIE_DOMAIN=.matchd.localhost
WAGTAIL_SITE_NAME="MATCHD - Local"
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_USER=root
DB_PASSWORD=""
DB_NAME="matchd"
ELASTIC_SEARCH_URL=http://localhost:9200
ELASTIC_SEARCH_USER=
ELASTIC_SEARCH_PASSWORD=
EMAIL_SENDER=info@matchd.ch
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_HOST_USER=
SMTP_HOST_PASSWORD=
EMAIL_SUBJECT_PREFIX="[LOCAL] "
DEBUG_TOOLBAR=false

SENTRY_DSN='sentry dsn url'
SENTRY_ENVIRONMENT='environment name'
SENTRY_TRACES_SAMPLE_RATE='percentage of traces to send'
