/static/*
.idea
.bash_history
.pylint.d
.coverage
__pycache__
*.pyc
.env
!/static/.gitkeep
/media/*
!/media/student_fixtures
!/media/company_fixtures
api/data/data.xlsx
/media_test/*
!/media_test/.gitkeep
htmlcov
