[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==7.0.0"
anyascii = "==0.3.0"
asgiref = "==3.3.1"
astroid = "==2.4.2"
attrs = "==20.3.0"
beautifulsoup4 = "==4.8.2"
certifi = "==2020.12.5"
chardet = "==4.0.0"
coverage = "==5.5"
django-cors-headers = "==3.10.1"
django-debug-toolbar = "==2.2"
django-filter = "==2.4.0"
django-graphiql-debug-toolbar = "==0.1.4"
django-graphql-auth = "==0.3.15"
django-graphql-jwt = "==0.3.0"
django-modelcluster = "==5.2"
django-taggit = "==1.5.1"
django-treebeard = "==4.5.1"
djangorestframework = "==3.12.2"
draftjs-exporter = "==2.1.7"
elasticsearch = "==7.16.1"
et-xmlfile = "==1.0.1"
graphene = "==2.1.9"
graphene-django = "==2.15.0"
graphene-django-optimizer = "==0.8.0"
graphene-file-upload = "==1.3.0"
graphql-core = "==2.3.2"
graphql-relay = "==2.0.1"
gunicorn = "==20.1.0"
html5lib = "==1.1"
idna = "==2.10"
iniconfig = "==1.1.1"
isort = "==5.10.1"
jdcal = "==1.4.1"
l18n = "==2020.6.1"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mysqlclient = "==2.0.1"
names = "==0.3.0"
openpyxl = "==3.0.9"
pluggy = "==0.13.1"
promise = "==2.3"
py = "==1.11.0"
pylint = "==2.6.2"
pylint-django = "==2.4.4"
pylint-plugin-utils = "==0.6"
pyparsing = "==2.4.7"
pyphen = "==0.10.0"
pytest = "==6.2.2"
pytest-cov = "==3.0.0"
pytest-django = "==4.1.0"
python-dateutil = "==2.8.2"
python-magic = "==0.4.22"
pytz = "==2020.5"
requests = "==2.26.0"
requests-mock = "==1.9.3"
singledispatch = "==3.4.0.3"
six = "==1.15.0"
soupsieve = "==2.1"
sqlparse = "==0.4.2"
tablib = "==3.0.0"
text-unidecode = "==1.3"
toml = "==0.10.2"
urllib3 = "==1.26.7"
wagtail = "==2.12.5"
wagtailfontawesome = "==1.2.1"
wagtailmedia = "==0.8.0"
webencodings = "==0.5.1"
wrapt = "==1.13.3"
xlrd = "==2.0.1"
xlwt = "==1.3.0"
Django = "==3.1.14"
Faker = "==5.0.1"
Pillow = "==8.3.2"
PyJWT = "==1.7.1"
Rx = "==1.6.1"
Unidecode = "==1.3.2"
Willow = "==1.4"
XlsxWriter = "==1.3.7"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
setup = "./setup.sh"
start = "./manage.py runserver"
test = "pytest"
lint = "pylint api app db"