{% extends '../../base/base.html' %}

{% block content %}

{% load i18n %}

{% load i18n %}
<h1>Hallo {{ user.first_name }} {{ user.last_name }}</h1>
<p class="mb-30">Schön zu sehen, dass Sie für Ihre offene Stelle (<a href="{{ job_posting_url }}">{{ job_posting.title }}</a>) ein passendes Talent entdeckt haben.</p>
<p class="mb-30">Sobald <a href="{{ student_profile_url }}">{{ student.first_name }} {{ student.last_name }}</a> den Match bestätigt, schicken wir Ihnen ein E-Mail mit weiteren Informationen.</p>

<p>Wir wünschen Ihnen viel Erfolg!</p>
<p class="mb-30">Ihr Matchd-Team</p>
<hr />
<p>PS: Sie haben Fragen oder Inputs an uns? Dann zögern Sie nicht, uns einfach zurückzuschreiben. Wir freuen uns über Feedback.</p>

{% endblock %}
