on:
  push:
    branches:
      - "main"

name: "Main Branch"

jobs:
  test:
    name: "Test"
    
    uses: ./.github/workflows/part_test.yml
  
  build:
    name: "Build"

    uses: ./.github/workflows/part_build.yml

  deploy:
    runs-on: ubuntu-latest
    name: "Deploy"
    needs: ['build']
    steps:
      - run: echo "Deploying development version... To be implemented."