on:
  push:
    tags:
      - "v[12].[0-9]+.[0-9]+"

name: "Stable Tag"

jobs:
  build:
    name: "Build"

    uses: ./.github/workflows/part_build.yml

  deploy:
    runs-on: ubuntu-latest
    name: "Deploy"
    needs: ['build']
    steps:
      - run: echo "Deploying stable version... To be implemented."

