on:
  push:
    tags:
      - "v[12].[0-9]+.[0-9]+-beta.[0-9]+"

name: "Beta Tag"

jobs:
  build:
    name: Build

    uses: ./.github/workflows/part_build.yml

  deploy:
    runs-on: ubuntu-latest
    name: "Deploy"
    needs: ['build']
    steps:
      - run: echo "Deploying beta version... To be implemented."
